.page-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.new-list-container {
	width: 80%;
}

.home-image {
	background-image: url(https://viajadaqui.files.wordpress.com/2017/03/mercado-municipal-de-sao-paulo-4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 85vh;
}

.new-list-container > a > div, .list-container > a > div {
	background-color: rgb(255, 255, 255, 0.85);
}